@model Helpdesk_SGVW.Models.ViewModel.OverzichtViewModel

@{
    ViewData["Title"] = "Overzicht tickets";
}


    <div class="row" id="menu-wrapper">
        
        <partial name="ThumbnailArea" model="@Model.Ticket.Where(u=>u.Aanvrager.Equals(User.FindFirst("name").Value)).OrderByDescending(u=>u.Datum)" />
    </div>

   