@model Helpdesk_SGVW.Models.ViewModel.OverzichtInfotheekViewModel

@{
    ViewData["Title"] = "Infotheek";
}

<div class="backgroundWhite container">

    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="active btn btn-secondary ml-1 mr-1" data-filter=".menu-infotheek">Alles</li>

        @foreach (var item in Model.Categorie)
        {
            <li class="ml-1 mr-1" data-filter=".@item.Naam.Replace(" ",string.Empty)">@item.Naam</li>
        }
    </ul>


    @foreach (var categorie in Model.Categorie)
    {
        <div class="row" id="menu-wrapper">
            <partial name="ThumbnailAreaInfotheek" model="@Model.Infotheek.Where(u=>u.Categorie.Naam.Equals(categorie.Naam))" />
        </div>
    }
</div>


@section Scripts{
    <script src="https://code.jquery.com/jquery-3.3.1.js"
            integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
            crossorigin="anonymous"></script>

    <script>
        var posts = $('.post');

        (function ($) {

            $("#menu-filters li").click(function () {
                $("#menu-filters li").removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data("filter");

                $(".menu-infotheek").fadeOut();

                setTimeout(function () {
                    $(selectedFilter).slideDown();
                }, 300);
            });



        })(jQuery);</script>
}
