@using System.Security.Principal

<ul class="navbar-nav">
@if (User.Identity.IsAuthenticated)
{
        <li class="nav-item">
            <span class="navbar-text"> @User.FindFirst("name").Value  | </span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="SignOut">Uitloggen</a>
        </li>
}
else
{
        <li class="nav-item">
            <a class="nav-link" asp-area="AzureAD" asp-controller="Account" asp-action="SignIn">Inloggen</a>
        </li>
}
</ul>
