<div class="row">
    <div class="col-4">
        <input type="submit" class="btn btn-infos form-control" value="Aanmaken" />
    </div>
    <div class="col-4">
        <a asp-action="Index" asp-area="Personeel" asp-controller="Home" class="btn btn-success2 form-control">Terug</a>
    </div>
</div>

