@model Helpdesk_SGVW.Models.Categorie

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Aanmaken categorie</h1>

<h4>Categorie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Logo" class="control-label"></label>
                <input asp-for="Logo" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verantwoordelijke" class="control-label"> e-mail</label>
                <input asp-for="Verantwoordelijke" class="form-control" />
                <span asp-validation-for="Verantwoordelijke" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verantwoordelijke2" class="control-label"> e-mail</label>
                <input asp-for="Verantwoordelijke2" class="form-control" />
                <span asp-validation-for="Verantwoordelijke2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
